.top {
    position:absolute;
    left:0; right:0;
    height: 92px;
    text-align: center;
}
.left {
    position:absolute;
    left:0; top:92px; bottom: 0;
    width: 178px;
}
.main {
    position: absolute;
    left:178px; top:92px; right:0; bottom:0;
    margin-left: 10px;
}

/*
.top { background: blue; }
.left { background: red; }
.main { background: yellow; }
*/