<!--<table width="100%"> 
<tr>
    <td width="50%"><app-add-product></app-add-product></td>
    <td width="50%"><app-list-product></app-list-product></td>
</tr>
</table>
-->

<!--<app-add-product></app-add-product>
<br/>
<app-list-product></app-list-product>-->
<!--<br/>
<app-add-category></app-add-category>
<br/>
<app-list-category></app-list-category>
-->

<div class="top">
    <app-header></app-header>
</div>
<div class="left">
    <app-menu></app-menu>
</div>
<div class="main">
   <router-outlet></router-outlet>
</div>
